<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<div>Id : <%= id %></div>
	<div>Name : <%= name %></div>
	<div>Cost : <%= cost %></div>
</body>
</html>